
<!--<div *ngFor="#item of items">
  <input type="checkbox" [(ngModel)]="item.checked">
  <span
    [style.textDecoration]="item.checked?'line-through':'none'">
    {{item.description}}
  </span>
  <button (click)="removeItem(item)">Delete</button>
</div>

<input #desc type='text'>
<button (click)="addItem(desc.value); desc.value=''">Add</button>
-->
<meta name="viewport" content="width=device-width"></meta>
<div class="container">        
	  <cabecera ></cabecera>
  	<router-outlet></router-outlet>
	  <footer></footer>
  
</div>
