    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" id=barradearriba>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" (click)="gotoinicio()"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav ">
                    <li class=""><a (click)="gotoinicio()">Inicio</a></li>
                    <li><a (click)="gotosuscrip()">Suscripciones</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                     <li><form class="navbar-form nav navbar-nav " role="search">
                        <fieldset class="busqueda">
                            <input class="busqueda" type="search" />
                            <button class="busqueda" type="submit"><i class="fa fa-search"></i></button>
                        </fieldset>
                    </form>
                        </li>


                    <li><a class="receta_crear" (click)="gotoCrReceta()">Crear receta</a></li>
                    <li><a (click)="gotoregister()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a id="log" data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-conten">
                <div class="modal-heade">
                  <img src="img/logo_transparent_2.png">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-bod">




                <form action="/" method="">
                  <div class="logueo">
                <div class="user">
                      <label>
                       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Usuario
                      </label>
                      <br>
                      <input [(ngModel)]="nombrelogin" type="text"/>
                </div>
                <div class="pass">
                      <label>
                       &nbsp; &nbsp; &nbsp; &nbsp; Contraseña
                      </label>
                      <br>
                      <input [(ngModel)]="contrasenialogin" align="center" type="password"required autocomplete="off"/>
                </div>
                   <a (click)="compareTo()">Entrar</a>
                    </div>
                </form>
                </div>
              </div>
            </div>
        </div>
