
.contenedor_receta{
    height: 1200px;
    width: 100%;
}

.fondo1{
    height: 100%;
    
   background-image: url(../img/apple_256.png);
   background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */ 

}

.fondo2{
    height: 100%;
   background-image: url(../img/Tenedor.png);
   background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */ 
}

.fondo3{
    height: 100%;
   background-image: url(../img/muffin.png);
   background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-attachment: fixed; /* Establecemos una posicion fija para la imagen */ 
}

.cabecera_receta{
    margin-top: 10px;
    padding: 30px;
    background-color: rgb(237,237,237);
}

.cabecera_receta img{
    width: 100%;
    border-radius: 15px;
}

.cabecera_receta .col-md-8{
    background-color: rgba(121, 182, 199, 1);
    padding: 20px;
    border-radius: 15px;
    color: white;
}




.receta_herramienta{
    background-color: rgb(146, 217, 192);
    color: white;
    border-bottom: solid rgba(99, 186, 155, 1) 5px;
    padding-left: 25%;
    padding-right: 25%;
}

.list-inline li{
    padding-top: 10px;
   height: 40px;
    
}

.list-inline li a:hover{
    background-color: rgb(99, 186, 155);
}

.list-inline li a { 
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;

}

.receta_ingredientes{
    padding: 20px;
    background-color: rgb(237,225,184);
    border-bottom: solid rgba(202, 186, 131, 1) 5px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    
}

.receta_elaboracion{
    padding: 40px;
     background-color: rgba(237,237,237,0.9);
}

ul,ol{
    margin-bottom: 0px;
}


.info{
    padding: 10px;
    padding-left: 20px;
    background-color: black;
    margin: -20px;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(76, 141, 160);
}
