#barradearriba{
    background-color: #79B6C7;
}
.logo{

   height: 113px;    
}
body{
    background-color: #ededed;
}

#recetas{
    height: auto;
    background-color: rgb(192,239,222);
    
}


#perfil {
    height: auto;
    width: auto;
    background-image:url(../img/food.jpg);
}

#editperfil
{    
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 8px;
    color: white;
    text-decoration-color: white;
    font-family: 'Droid Sans', sans-serif;

}

#imagenicono{ 
    margin-left: 20px;
    height: 100px;
    align-content: center;
   }
#nombreusuario
{
    font-size: 40px;
background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    font-family: 'Droid Sans', sans-serif;
}
#rangousuario{
   
   
    font-size: 17px;
   
    color: white;
    font-family: 'Droid Sans', sans-serif;
    
}
#infousuario{
   

 
    font-size: 12px;
    
    color: white;
    font-family: 'Droid Sans', sans-serif;
    
}
#nombreusurangoinfo{
    
    margin-left: 40px;
    margin-right: 40px;
}


#seguidoresrecetas{
    height: auto;
    width: auto;
    font-family: 'Droid Sans', sans-serif;
    color: white;
}






#menu{
    background-color:#92D9C0;
    height: auto;
    width: auto;
}
#menuperfil{
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 4px;
    font-family: 'Droid Sans', sans-serif;
}








#containerrecetas{
  background-color: white;
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right:100px;
    
    
    
}
#receta1{
    box-shadow: 5px 5px 5px #888888;

}
#fotoreceta1{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    
    
}
#textoreceta1{
    margin-top: 50px;
}

#nombrereceta{
    font-size: 20px;
    font-family: 'Droid Sans', sans-serif;
}
#textoreceta{
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
    
}
#dificultadreceta{
    font-size: 12px;
    font-family: 'Droid Sans', sans-serif;
}

#idreceta1{
    margin-top: 30px;
}
#nombreusuarioreceta{
    
}

@media (max-width:875px) { 
    
     #containerrecetas {
    
    margin-left: 10px;
    margin-right: 10px;
}
    #idreceta1{
        align-content: center;
    }







