
<link href="./user.css" rel="stylesheet">

   <div class="container" id="perfil">

        <div class="row" id="rowperfil">
                <p id="editperfil" href="controlpanel.html">
                        <span class="glyphicon glyphicon-pencil"></span><a (click)="gotocontrolpanel()" id="editperfil">Editar   Perfil</a></p>
        </div>

    <div class="row">
            <div class="col-md-1" id=imagenicono>
                <img class="img-circle" id="iconoperfil" src="{{register.fotoperfil}}" height="100px" width="100px">
            </div>
            <div class="col-md-2" id="nombreusurangoinfo">

                    <h2 id="nombreusuario">{{register.nombre}}<button type="button" (click)="seguirusuario(register.nombre)" *ngIf="userseguir()" class="btn btn-primary seguir">  Seguir  </button>                         </h2>

                    <h3 id="rangousuario">{{register.rango}}</h3>
                    <h3 id="infousuario">{{register.bio}}</h3>

            </div>


    </div>




        <div class="row" id=seguidoresrecetas>
            <div class="col-md-2"></div>
            <div class="col-md-2">{{numeroseguidores}} Seguidores</div>
            <div class="col-md-4">{{contador}} Recetas</div>
            <div class="col-md-2">4 Recetarios</div>
            <div class="col-md-2"></div>

        </div>







     </div>

     <div class="receta_herramienta">
           <ul class="list-inline">
              <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recetas</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Recetario</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Comentar</a></li>
           </ul>
    </div>














        <div class="container" id="containerrecetas" *ngFor="#receta of recetuser">




            <div class="row" id="receta1">
              <div class="col-md-4">
                     <div class="row">
                         <div class="col-md-12  img_receta3" id="columnaizquierda">
                           <img class="img" id="imgjimlu" height="200" width="327"  src="{{receta.imagen}}">

                            <div class="titulo_receta"><h3>{{receta.nombre}}</h3><h5>{{receta.fecha}}</h5></div>
                          </div>
                  </div>
               </div>

               <div class="col-md-6" id="colummnacentralreceta">
                   <div class="row">
                       <div class="col-md-12" id="descripcionreceta">{{receta.descripcion}}</div>
                   </div>

                   <div class="row">
                       <div class="col-md-12" id="infoextra"><span>Dificultad:
                                          {{receta.dificultad}} | <span class="glyphicon glyphicon-time">
                                        </span> {{receta.tiempo}} </span><span id="apanio">
                                        <span class="glyphicon glyphicon-user"></span> 4 | <a href="#">
                                    <span class="glyphicon glyphicon-film"></span></a> | <span class="glyphicon glyphicon-tags"> </span>  Postre </span>

                    </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12"><div id="stars" class="starrr"></div></div>
                   </div>
               </div>

              <div class="col-md-2" id="">

               <div class="usuario_rece" id="usuariorecetajimlu">
                        <img class="logo_cocinero" src="img/iconos/alberto.png">
                       <br><p id="nombreusuarioreceta">{{register.nombre}}</p>
                        <p id="rangonombreusuarioreceta">{{register.rango}}</p>
                       <button  type="button" class="btn btn-primary seguir" id ="botonseguirnombreusuarioreceta">Seguir</button></div>
            </div>
           </div>













        </div>
