
<link href="./user.css" rel="stylesheet">

   <div class="container" id="perfil">

        <div class="row" id="rowperfil">
                <p id="editperfil" href="controlpanel.html">
                        <span class="glyphicon glyphicon-pencil"></span><a (click)="gotocontrolpanel()" id="editperfil">Editar   Perfil</a></p>
        </div>

    <div class="row">
            <div class="col-md-1" id=imagenicono>
                <img class="img-circle" id="iconoperfil" src="{{register.fotoperfil}}" height="100px" width="100px">
            </div>
            <div class="col-md-2" id="nombreusurangoinfo">

                    <h2 id="nombreusuario">{{register.nombre}}<button type="button" class="btn btn-primary seguir">  Seguir  </button>                         </h2>

                    <h3 id="rangousuario">{{register.rango}}</h3>
                    <h3 id="infousuario">{{register.bio}}</h3>

            </div>


    </div>




        <div class="row" id=seguidoresrecetas>
            <div class="col-md-2"></div>
            <div class="col-md-2">176 Seguidores</div>
            <div class="col-md-4">23 Recetas</div>
            <div class="col-md-2">4 Recetarios</div>
            <div class="col-md-2"></div>

        </div>







     </div>

     <div class="receta_herramienta">
           <ul class="list-inline">
              <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Recetas</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Recetario</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Comentar</a></li>
           </ul>
    </div>














        <div class="container" id="containerrecetas">





          <div class="row" id="receta1">
              <div class="col-md-4">
                     <div class="row">
                         <div class="col-md-12  img_receta" id="columnaizquierda">
                            <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                            <div class="titulo_receta"><h3>Pechuga de pollo rellena</h3><h5>1/12/12</h5></div>
                          </div>
                  </div>
               </div>

               <div class="col-md-6" id="colummnacentralreceta">
                   <div class="row">
                       <div class="col-md-12" id="descripcionreceta">La receta de Pollo Asado es una receta muy tradicional en nuestra gastronomía, una receta ecónomica y fácil preparación, ideal para varios comensales.</div>
                   </div>

                   <div class="row">
                       <div class="col-md-12" id="infoextra"><span>Dificultad:
                                          Media | <span class="glyphicon glyphicon-time">
                                        </span> 30 minutos </span><span id="apanio">
                                        <span class="glyphicon glyphicon-user"></span> 4 | <a href="#">
                                    <span class="glyphicon glyphicon-film"></span></a> | <span class="glyphicon glyphicon-tags"> </span>  Primer plato </span>

                    </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12"><div id="stars" class="starrr"></div></div>
                   </div>
               </div>

              <div class="col-md-2" id="">

               <div class="usuario_rece" id="usuariorecetajimlu">
                        <img class="logo_cocinero" src="img/iconos/alberto.png">
                       <br><p id="nombreusuarioreceta">Alber</p>
                        <p id="rangonombreusuarioreceta">Experto</p>
                       <button type="button" class="btn btn-primary seguir" id ="botonseguirnombreusuarioreceta">Seguir</button></div>
            </div>
           </div>







        <div class="row" id="receta1">
              <div class="col-md-4">
                     <div class="row">
                         <div class="col-md-12  img_receta2" id="columnaizquierda">
                            <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                            <div class="titulo_receta"><h3>Albondigas de carne al microondas</h3><h5>1/3/15</h5></div>
                          </div>
                  </div>
               </div>

              <div class="col-md-6" id="colummnacentralreceta">
                   <div class="row">
                       <div class="col-md-12" id="descripcionreceta">Albondigass que ricas!!! Tan faciles de hacer que con tan solo meterlas al microondas. Tus hijos lo agradeceran.</div>
                   </div>

                   <div class="row">
                       <div class="col-md-12" id="infoextra"><span>Dificultad:
                                          Tirado | <span class="glyphicon glyphicon-time">
                                        </span> 5 minutos </span><span id="apanio">
                                        <span class="glyphicon glyphicon-user"></span> 1 | <a href="#">
                                    <span class="glyphicon glyphicon-film"></span></a> | <span class="glyphicon glyphicon-tags"> </span>  Primer plato </span>

                    </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12"><div id="stars" class="starrr"></div></div>
                   </div>
               </div>
              <div class="col-md-2" id="">

               <div class="usuario_rece" id="usuariorecetajimlu">
                        <img class="logo_cocinero" src="img/iconos/alberto.png">
                       <br><p id="nombreusuarioreceta">Alber</p>
                        <p id="rangonombreusuarioreceta">Experto</p>
                       <button type="button" class="btn btn-primary seguir" id ="botonseguirnombreusuarioreceta">Seguir</button></div>
            </div>
           </div>






            <div class="row" id="receta1">
              <div class="col-md-4">
                     <div class="row">
                         <div class="col-md-12  img_receta3" id="columnaizquierda">
                            <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                            <div class="titulo_receta"><h3>Flan</h3><h5>1/3/12</h5></div>
                          </div>
                  </div>
               </div>

               <div class="col-md-6" id="colummnacentralreceta">
                   <div class="row">
                       <div class="col-md-12" id="descripcionreceta">El flan, también conocido como leche asada, es un postre tradicional que se elabora con huevos, leche y azúcar.</div>
                   </div>

                   <div class="row">
                       <div class="col-md-12" id="infoextra"><span>Dificultad:
                                          Media | <span class="glyphicon glyphicon-time">
                                        </span> 1 hora </span><span id="apanio">
                                        <span class="glyphicon glyphicon-user"></span> 4 | <a href="#">
                                    <span class="glyphicon glyphicon-film"></span></a> | <span class="glyphicon glyphicon-tags"> </span>  Postre </span>

                    </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12"><div id="stars" class="starrr"></div></div>
                   </div>
               </div>

              <div class="col-md-2" id="">

               <div class="usuario_rece" id="usuariorecetajimlu">
                        <img class="logo_cocinero" src="img/iconos/alberto.png">
                       <br><p id="nombreusuarioreceta">Alber</p>
                        <p id="rangonombreusuarioreceta">Experto</p>
                       <button type="button" class="btn btn-primary seguir" id ="botonseguirnombreusuarioreceta">Seguir</button></div>
            </div>
           </div>













        </div>
