<div class="contenedor_principal">
    <div class="recetas">
        <div class="busqueda_avanzada">
            <div class="contenido_busqueda_av">
            <form role="form">
            <div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Añadir</button>
      </span>
      <input type="text" class="form-control" placeholder="Inserte el ingrediente...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <textarea class="form-control" rows="3"></textarea>
</div><!-- /.row -->
 <br>
            <label for="sel1">Seleccione el tipo de plato que desee:</label>
  <select class="form-control" id="sel1">
    <option>Carnes</option>
    <option>Pescados</option>
    <option>Verduras</option>
    <option>Postres</option>
  </select>


<div class="checkbox">
  <label><input type="checkbox" value="">Celiaco</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">Diabetico</label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="">Vegano</label>
</div>
           <button type="submit" class="btn btn-default">Enviar</button>
            </form>
            </div>
            <div class="boton_busqueda_av"><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Busqueda avanzada</a></div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-3 carnes">
                    <div class="overlay">Visitar</div>
                </div>
                <div class="col-md-3 pescados">
                    <a href="receta.html"><div class="overlay2">visitar</div></a>
                </div>

                <div class="col-md-3 verduras">
                    <div class="overlay3">Visitar</div>
                </div>

                <div class="col-md-3 postres">
                    <div class="overlay4">Visitar</div>
                </div>

            </div>
        </div>
    </div>


 <!-- ÉSTE DIALOG NO LO USAREMOS POR EL MOMENTO <div id="dialog" title="Basic dialog" style="display: none";>
   <div class="logueo">
        <div class="user">
              <label>
               &nbsp; &nbsp; &nbsp; &nbsp; Usuario
              </label>
              <br>
              <input type="text">
        </div>
        <div class="pass">
              <br><br><label>
               &nbsp; &nbsp; &nbsp; Contraseña
              </label>
              <br>
              <input align="center" type="password"required autocomplete="off"/>
        </div>
            </div>
          </div>-->


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <img src="img/logo_transparent_2.png">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">




        <form action="/" method="">
          <div class="logueo">
        <div class="user">
              <label>
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Usuario
              </label>
              <br>
              <input type="text">
        </div>
        <div class="pass">
              <label>
               &nbsp; &nbsp; &nbsp; &nbsp; Contraseña
              </label>
              <br>
              <input align="center" type="password"required autocomplete="off"/>
        </div>
           <a href="user.html">Entrar</a>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>
 </div>  
