<script>
    $(document).ready(function () {

        $(".tabContainer a").click(function (e) {
            e.preventDefault();
            loadUrl($(this).attr("href"));
        });
    });

    function loadUrl(url) {
        $("#helper").load(url);
    }
</script>

<body>


    <div class="contenido" id="contenidofrost">
        <div class="menu" tabindex="0">
            <div class="smartphone-menu-trigger"></div>
            <h2>{{register.nombre}}</h2>


            <ul class="tabContainer">

                <li class=""><a (click)="gotocontrolpanel()">Editar perfil</a></li>
                <li class=""><a (click)="gotoadmrecetas()">Administrar recetas</a></li>
                <li class=""><a (click)="gotoadmrecetarios()">Administrar recetarios</a></li>
                <li class=""><a (click)="gotoemail()">Email y contraseña</a></li>
                <li class=""><a (click)="gotonotificaciones()">Notificaciones</a></li>



            </ul>
        </div>




        <div class="container">
            <div id="helper" class="col-md-12">
                <h2>Editar perfil</h2>
                <div class="cambiarimagenes">
                    <div class="cambiaravatar">
                        <h3>Cambiar imagen de perfil</h3>
                        <header class="avatar-right">
                            <img src="https://pbs.twimg.com/profile_images/600917670649798656/4aqgOSMU.jpg" />
                            <h2>{{register.nombre}}</h2>
                        </header>
                        <div class="upload-image btn">

                            <input type="file" class="custom-file-input">
                        </div>

                    </div>


                    <div class="cambiarbanner">
                        <h3>Cambiar encabezado</h3>
                        <header class="banner-perfil">
                            <img id="fotobanner" src="https://s-media-cache-ak0.pinimg.com/736x/80/5f/d0/805fd0f1ee7356e49147132453a93ab8.jpg" />
                        </header>

                        <div class="upload-image btn">


                            <input type="file" class="custom-file-input">
                        </div>
                    </div>
                    Nota: El tamaño máximo de tu imagen de cabecera es de 1900 por 400 pixeles o 29KB.
                </div>



                <h3>Cambiar biografia</h3>
                <div class="bio">
                    <textarea id="txtArea" rows="2" cols="20">
                        {{register.bio}}
                    </textarea>
                    <br>
                    <br><br>
                    <input type="submit" value="Guardar cambios"><br><br><br>
                </div>

            </div>
        </div>

    </div>
</body>
