<div class="contenedor_receta" id="section1">
    <div class="fondo1">
       <div class="fondo2">
           <div class="fondo3">


<div class="cabecera_receta">

    <div class="container">
        <div class="row">


    <div class="col-md-12">
        <div class="col-md-4" id="img_receta_de_recetas">
          <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
          <div class="titulo_receta"><h3>{{receta.nombre}}</h3><h5>{{receta.fecha}}</h5></div>
        </div>
      <div class="col-md-8 datos_receta">
        <div class="usuario_receta"><img class="logo_cocinero" src="img/iconos/alberto.png"><br>{{receta.autor.nombre}}<br><button type="button" class="btn btn-primary seguir">Seguir</button></div>


          <div class="row">
            <div id="iconos" class="col-md-8 iconos">{{receta.descripcion}}
              <div class="infoextra" style="margin-bot:10px">

          </div>
              </div>
          </div>
      <br>

      </div></div>
          </div>

          <div class="row">
              <div class="col-md-4 rank">
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
              </div>
             <div class="info col-md-8">
      <span>{{receta.dificultad}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> {{receta.tiempo }}</span>
    <span> {{receta.tipo}}</span>
        <span *ngIf="receta.vegana">| Vegana</span>
        <span *ngIf="receta.grasas">| Baja en grasas</span>
        <span *ngIf="receta.diabeticos">| Para diabeticos</span>
        <span *ngIf="receta.picante">| Picante</span>
       </div>
          </div>
      </div>

  </div>
  <div class="receta_herramienta">
     <ul class="list-inline">
    <li><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-share"></span> Compartir</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-print"></span> Imprimir</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-check"></span> La he hecho</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Comentar</a></li>
     </ul>
  </div>

     <div class="receta_ingredientes"><h2>Ingredientes:</h2>
      <ol>
      <li *ngFor="#ingrediente of receta.ingredientes">{{ingrediente}} <input type="checkbox" value=""></li>

      </ol>
      </div>

  <div class="receta_elaboracion">



        <!-- <div class="container">
<div class="row">
  <nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#section1">Section 1</a></li>
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#section3">Section 3</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#section41">Section 4-1</a></li>
          <li><a href="#section42">Section 4-2</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</div>
</div> esto pertenece al menú que te sigue por la web no implementado -->





  <div class="container pasos">
          <div class="row">
          <div class="col-md-12" id="section2">


<ol>
<li *ngFor="#paso of receta.pasos"> {{paso}}</li>
</ol>





  </div>
      </div>
      </div>
      </div>

   <div class="galeria">
      <div class="container galeria_imagenes">
       <div class="row">
<div class="col-sm-6 col-md-3">
  <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
      <img src="./img/pos.jpg" alt="..."></a>
    <h3 id="titulo_galeria">Tarta de queso</h3>
</div>
<div class="col-sm-6 col-md-3">
  <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
      <img src="./img/tarta.jpg" alt="..."></a>
   <h3 id="titulo_galeria">Tarta de queso</h3>
</div>
<div class="col-sm-6 col-md-3">
  <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
       <img src="./img/pos.jpg" alt="..."></a>
     <h3 id="titulo_galeria">Tarta de queso</h3>
</div>
<div class="col-sm-6 col-md-3">
  <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
       <img src="./img/tarta.jpg" alt="..."></a>
     <h3 id="titulo_galeria">Tarta de queso</h3>
</div>
</div>
      </div>
  </div>


  <div class="comentarios">                                                     <div class="container">
         <nav>
            <ul class="pagination">
                  <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                   <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                   <li class=""><a href="#">3 <span class="sr-only">(current)</span></a></li>
                   <li class=""><a href="#">... <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
          <div *ngFor="#comentario of comentarios" class="row comentarios_cuerpo">
          <div class="col-md-12">
              <div class="col-md-2">
                     <div class="USUARIO_RECETA_2"><img class="logo_cocinero_comentarios" src="img/iconos/alberto.png"><br><button type="button" class="btn btn-primary seguir">Seguir</button></div>
               </div>
              <div class="col-md-10 comentario">
                  <div id="fecha_comentario">29/03/2016</div>
                  <div id="texto_comentario">
                  {{comentario.texto}}
                  </div>

                  <div id="likes_comentario">
                      12
                      <i class="fa fa-thumbs-o-up"></i>
                  </div>
                   <div id="dislikes_comentario">7
                    <i class="fa fa-thumbs-o-down"></i>

                  </div>






              </div>
          </div>
          </div>

  <br>

                  <textarea  [(ngModel)]="comentario.texto" rows="10" type="text" name="name" class="form-control" ng-model="user.name" required></textarea>
                <input (click)="addComentario()" id="recetabutton" type="submit" value="Añadir comentario" >




          <br>
            <br>
              <br>
                <br>

        </div>
  </div>





           </div>
             </div>
              </div>

  </div>




      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <img src="img/logo_transparent_2.png">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                              </div>
                              <div class="modal-body">




                              <form action="/" method="">
                                <div class="logueo">
                              <div class="user">
                                    <label>
                                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Usuario
                                    </label>
                                    <br>
                                    <input type="text">
                              </div>
                              <div class="pass">
                                    <label>
                                     &nbsp; &nbsp; &nbsp; &nbsp; Contraseña
                                    </label>
                                    <br>
                                    <input align="center" type="password"required autocomplete="off"/>
                              </div>
                                 <a href="user.html">Entrar</a>
                                  </div>
                              </form>
                              </div>
                            </div>
                          </div>
                      </div>
