<div class="container">
<div class="contenido" id="bodydelfrost">

    <div id="cuerporeceta" class='col-md-8 col-center'>
        <br>
        <div id="categorias"><br>
        <div class="inputlabel">
            <div>
            <label>Id: </label></div>
            <div>
            <label id="labelreceta">Nombre de la receta</label>
            <input [(ngModel)]="recetita.nombre" placeholder="title" id="pasosinput" type="text" class="form-control" required>
          <h3></h3>
        </div>
        <br>

        <div>
            <label id="labelreceta">Breve descripcion de la receta</label>
            <input [(ngModel)]="recetita.descripcion" placeholder="describa aquí"><br>
            <h3></h3>
        </div>
        <br>


        <div>
            <div class="input-append">
            <div class="col-lg-12">

              <input #desc type='text'>
              <button (click)="addItem(desc.value); desc.value=''">Agregar ingrediente</button>
              <div *ngFor="#item of items">
                <span>

                </span>
                <button (click)="removeItem(item)">Borrar</button>
              </div>
            </div><!-- /.col-lg-6 -->

            </div>
        </div>
        <br>
        </div>


        <div class="pasos">


            <ol>
                <li *ngFor="#cadapaso of pasos">
                  <span>

                  </span>
                </li>
                <br>
                <div class="añadirpaso" style="text-align:center;">
                    <textarea #pas type='text'></textarea>
                    <button (click)="addPaso(pas.value); pas.value=''">Agregar paso</button> </div>
            </ol>


            </div>
            <br>




        </div>



        <br><br>
    </div>

    <br>
    <div class="creareceta" style="text-align:center;">
        <input id="recetabutton" (click)="save()" type="submit" value="Crear receta">
        <input id="recetabutton" (click)="cancel()" type="submit" value="Cancelar receta">
    </div>
    <br>
    <br>



</div>
</div>
