<div class="contenedor_principal">
    <div class="recetas">
      <br><br>
      <ingredientes></ingredientes>

        <div class="container">
            <div class="row">
                <div class="col-md-3 carnes">
                      <a ><div class="overlay"><h3>Carnes</h3></div></a>
                </div>
                <div class="col-md-3 pescados">
                    <a ><div class="overlay2"><h3>Pescados</h3></div></a>
                </div>

                <div class="col-md-3 verduras">
                      <a ><div class="overlay3"><h3>Verduras</h3></div></a>
                </div>

                <div class="col-md-3 postres">
                      <a ><div class="overlay4"><h3>Postres</h3></div></a>
                </div>

            </div>
        </div>
    </div>
    <div class="mas_visitadas">
      <center><h2><br>Más visitadas</h2></center>
      <div class="container">
        <div class="row">
            <div class="col-md-3" id="recetasjimlu" *ngFor="#receta of recetas" >
                  <img class="img" id="imgjimlu" height="130" width="250"  src="{{receta.imagen}}">
                  <span class="glyphicon glyphicon-asterisk"  style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>{{receta.nombre}}</h3><h5>{{receta.fecha}}</h5></div>

            </div>
          </div>


      </div>
      </div>


 </div>
