<div class="contenedor_principal">
    <div class="recetas">
      <ingredientes></ingredientes>



        <div class="container">
            <div class="row">
                <div class="col-md-3 carnes">
                      <a href="receta.html"><div class="overlay"><h3>Carnes</h3></div></a>
                </div>
                <div class="col-md-3 pescados">
                    <a href="receta.html"><div class="overlay2"><h3>Pescados</h3></div></a>
                </div>

                <div class="col-md-3 verduras">
                      <a href="receta.html"><div class="overlay3"><h3>Verduras</h3></div></a>
                </div>

                <div class="col-md-3 postres">
                      <a href="receta.html"><div class="overlay4"><h3>Postres</h3></div></a>
                </div>

            </div>
        </div>
    </div>
    <div class="mas_visitadas">
      <center><h2><br>Más visitadas</h2></center>
      <div class="container">
        <div class="row">
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>
            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

            <div class="col-md-3 img_receta">

                  <span class="glyphicon glyphicon-asterisk" style="float:left; padding:5px;"></span>
                  <div class="titulo_receta"><h3>Tarta de queso</h3><h5>15/3/16</h5></div>

            </div>

        </div>
      </div>
      </div>

 <!-- ÉSTE DIALOG NO LO USAREMOS POR EL MOMENTO <div id="dialog" title="Basic dialog" style="display: none";>
   <div class="logueo">
        <div class="user">
              <label>
               &nbsp; &nbsp; &nbsp; &nbsp; Usuario
              </label>
              <br>
              <input type="text">
        </div>
        <div class="pass">
              <br><br><label>
               &nbsp; &nbsp; &nbsp; Contraseña
              </label>
              <br>
              <input align="center" type="password"required autocomplete="off"/>
        </div>
            </div>
          </div>-->


  <!-- Modal -->

 </div>
